<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ionic Camera
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <div id="cameraPreview" class="cameraPreview">

      <ion-button (click)="stopCamera()" expand="block" id="close" *ngIf="cameraActive">
        <ion-icon name="close-circle" slot="icon-only"></ion-icon>
      </ion-button>

      <ion-button (click)="captureCamera()" expand="block" id="capture" *ngIf="cameraActive">
        <ion-icon name="camera" slot="icon-only"></ion-icon>
      </ion-button>

      <ion-button (click)="flipCamera()" expand="block" id="flip" *ngIf="cameraActive">
        <ion-icon name="camera-reverse" slot="icon-only"></ion-icon>
      </ion-button>


    </div>
  
    <ion-button (click)="openCamera()" expand="full" *ngIf="!cameraActive">Open Camera</ion-button>

    <ion-grid *ngIf="!cameraActive">
      <ion-row>
      <ion-col size="6" 
        *ngFor="let photo of photos; index as position">
          <ion-img [src]="photo.webviewPath"></ion-img>
      </ion-col>
      </ion-row>
    </ion-grid>

</ion-content>
